<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- Mirrored from red-parts.html.themeforest.scompiler.ru/themes/red-ltr/index2.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Aug 2024 17:55:48 GMT -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <title>Скупка радиодеталей в Иркутская область. Купим радиодетали по самой выгодной цене. Осуществляем прием радиолома и радиоэлементов: новых и б.у.</title>
    <meta name="google-site-verification" content="J7XYrk7MAAOJtgRjZWMo3-v42S9yL55MTDp-y1Ya3V8" />
    <link rel="icon" type="image/png" href="~/img/radiopriemlogo.png" />
    <!-- fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" />
    <!-- css -->
    <link rel="stylesheet" href="~/rusGold/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/rusGold/vendor/owl-carousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/rusGold/vendor/photoswipe/photoswipe.css" />
    <link rel="stylesheet" href="~/rusGold/vendor/photoswipe/default-skin/default-skin.css" />
    <link rel="stylesheet" href="~/rusGold/vendor/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/rusGold/css/style.css" />
    <link rel="stylesheet" href="~/rusGold/css/style.header-classic-variant-one.css" media="(min-width: 1200px)" />
    <link rel="stylesheet" href="~/rusGold/css/style.mobile-header-variant-one.css" media="(max-width: 1199px)" />
    <!-- font - fontawesome -->
    <style>
        .header {
            grid-template-rows: 0px auto auto;
            background: #0073cc !important;
            color: white;
        }

        .mobile-header {
            padding: 10px;
        }

        .header__navbar {
            background: #0073cc !important;
            color: white;
        }

        .main-menu .main-menu__link:hover {
            color: #0073cc;
        }

        .phone__body:hover {
            color: #0073cc;
        }

        .search__button--start {
            background: linear-gradient(to right, #d2942a 0%, #f1cc5c 47%, #d09228 100%) !important;
        }

        .departments__button {
            background: linear-gradient(to right, #d2942a 0%, #f1cc5c 47%, #d09228 100%) !important;
        }

        @@media (max-width: 767.98px) {
            .mobile-header__search {
                top: -10px;
            }
        }
    </style>
    <link rel="stylesheet" href="~/rusGold/vendor/fontawesome/css/all.min.css" />
</head>
<body>
    <!-- site -->
    <div class="site">
        <!-- site__mobile-header -->
        <header class="site__mobile-header" >
            <div class="mobile-header" style="background:#0073cc !important;">
                <div class="container">
                    @*<div class="mobile-header__body">
                        <button class="mobile-header__menu-button" type="button" style="background:#0073cc !important;">
                            <svg width="18px" height="14px"><path d="M-0,8L-0,6L18,6L18,8L-0,8ZM-0,-0L18,-0L18,2L-0,2L-0,-0ZM14,14L-0,14L-0,12L14,12L14,14Z" /></svg>
                        </button>
                        <a class="mobile-header__logo" href="#">
                            <img src="~/img/radiopriemlogo.png" style="position: absolute;right: 76px;width: 200px;" />
                        </a>
                        
                    </div>*@
                    
                    <div class="mobile-header__body" style="display: flex; justify-content: center; align-items: center; position: relative; padding: 10px 0;">
                        <button class="mobile-header__menu-button" type="button" style="background: #0073cc !important; margin-right: auto;">
                            <svg width="18px" height="14px">
                                <path d="M-0,8L-0,6L18,6L18,8L-0,8ZM-0,-0L18,-0L18,2L-0,2L-0,-0ZM14,14L-0,14L-0,12L14,12L14,14Z" />
                            </svg>
                        </button>
                        <a class="mobile-header__logo" href="/" style="text-align: center;">
                            <img src="~/img/radiopriemlogo.png" style="width: 200px;" />
                        </a>
                        <div class="mobile-header__search mobile-search">
                            <form class="mobile-search__body">
                                <input type="text" class="mobile-search__input" placeholder="Найти" />
                                <button type="button" class="mobile-search__vehicle-picker" aria-label="Select Vehicle">
                                    <img width="20px" height="20px" src="~/img/detailogo.png" alt="radiodetal" />
                                    <span class="mobile-search__vehicle-picker-label">Поиск деталей</span>
                                </button>
                                <button type="submit" class="mobile-search__button mobile-search__button--search">
                                    <svg width="20" height="20">
                                        <path d="M19.2,17.8c0,0-0.2,0.5-0.5,0.8c-0.4,0.4-0.9,0.6-0.9,0.6s-0.9,0.7-2.8-1.6c-1.1-1.4-2.2-2.8-3.1-3.9C10.9,14.5,9.5,15,8,15
	c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7c0,1.5-0.5,2.9-1.3,4c1.1,0.8,2.5,2,4,3.1C20,16.8,19.2,17.8,19.2,17.8z M8,3C5.2,3,3,5.2,3,8
	c0,2.8,2.2,5,5,5c2.8,0,5-2.2,5-5C13,5.2,10.8,3,8,3z" />
                                    </svg>
                                </button>
                                <button type="button" class="mobile-search__button mobile-search__button--close">
                                    <svg width="20" height="20">
                                        <path d="M16.7,16.7L16.7,16.7c-0.4,0.4-1,0.4-1.4,0L10,11.4l-5.3,5.3c-0.4,0.4-1,0.4-1.4,0l0,0c-0.4-0.4-0.4-1,0-1.4L8.6,10L3.3,4.7
	c-0.4-0.4-0.4-1,0-1.4l0,0c0.4-0.4,1-0.4,1.4,0L10,8.6l5.3-5.3c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4L11.4,10l5.3,5.3
	C17.1,15.7,17.1,16.3,16.7,16.7z" />
                                    </svg>
                                </button>
                                <div class="mobile-search__field"></div>
                            </form>
                        </div>
                        <div class="mobile-header__indicators">
                            <div class="mobile-indicator mobile-indicator--search d-md-none">
                                <button type="button" class="mobile-indicator__button">
                                    <span class="mobile-indicator__icon">
                                        <svg width="20" height="20">
                                            <path d="M19.2,17.8c0,0-0.2,0.5-0.5,0.8c-0.4,0.4-0.9,0.6-0.9,0.6s-0.9,0.7-2.8-1.6c-1.1-1.4-2.2-2.8-3.1-3.9C10.9,14.5,9.5,15,8,15
	c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7c0,1.5-0.5,2.9-1.3,4c1.1,0.8,2.5,2,4,3.1C20,16.8,19.2,17.8,19.2,17.8z M8,3C5.2,3,3,5.2,3,8
	c0,2.8,2.2,5,5,5c2.8,0,5-2.2,5-5C13,5.2,10.8,3,8,3z" />
                                        </svg>
                                    </span>
                                </button>
                            </div>
                            <div class="mobile-indicator d-none d-md-block">
                                <a href="account-login.html" class="mobile-indicator__button">
                                    <span class="mobile-indicator__icon">
                                        <svg width="20" height="20">
                                            <path d="M20,20h-2c0-4.4-3.6-8-8-8s-8,3.6-8,8H0c0-4.2,2.6-7.8,6.3-9.3C4.9,9.6,4,7.9,4,6c0-3.3,2.7-6,6-6s6,2.7,6,6
	c0,1.9-0.9,3.6-2.3,4.7C17.4,12.2,20,15.8,20,20z M14,6c0-2.2-1.8-4-4-4S6,3.8,6,6s1.8,4,4,4S14,8.2,14,6z" />
                                        </svg>
                                    </span>
                                </a>
                            </div>
                            <div class="mobile-indicator d-none d-md-block">
                                <a href="wishlist.html" class="mobile-indicator__button">
                                    <span class="mobile-indicator__icon">
                                        <svg width="20" height="20">
                                            <path d="M14,3c2.2,0,4,1.8,4,4c0,4-5.2,10-8,10S2,11,2,7c0-2.2,1.8-4,4-4c1,0,1.9,0.4,2.7,1L10,5.2L11.3,4C12.1,3.4,13,3,14,3 M14,1
	c-1.5,0-2.9,0.6-4,1.5C8.9,1.6,7.5,1,6,1C2.7,1,0,3.7,0,7c0,5,6,12,10,12s10-7,10-12C20,3.7,17.3,1,14,1L14,1z" />
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- site__mobile-header / end -->

        <!-- site__header -->
        @await Component.InvokeAsync("Header")
        <!-- site__header / end -->


        @RenderBody()
        <footer class="site__footer">
            <div class="site-footer">
                <div class="decor site-footer__decor decor--type--bottom">
                    <div class="decor__body">
                        <div class="decor__start"></div>
                        <div class="decor__end"></div>
                        <div class="decor__center"></div>
                    </div>
                </div>
                <div class="site-footer__widgets">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-xl-6">
                                <div class="site-footer__widget footer-contacts">
                                    <h5 class="footer-contacts__title">
                                        Связаться с нами
                                    </h5>
                                    <div class="footer-contacts__text">Скупка радиодеталей. Купим радиодетали по самой выгодной цене. Осуществляем прием радиолома и радиоэлементов: новых и б.у.</div>
                                    <address class="footer-contacts__contacts">
                                        <dl>
                                            <dt>Номер телефона</dt>
                                            <dd>
                                                +8 964 000 10 65
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>Наш адрес</dt>
                                            <dd>Ангарск Иркутская область, Россия</dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                Pаботаем ежедневно
                                            </dt>
                                            <dd>c 10:00 до 20:00</dd>
                                        </dl>
                                    </address>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="site-footer__widget footer-links">
                                    <h5 class="footer-links__title">Информация</h5>
                                    <ul class="footer-links__list">
                                        <li class="footer-links__item"><a href="/Katalog" class="footer-links__link">Каталог</a></li>
                                        <li class="footer-links__item">
                                            <a href="/Bloq" class="footer-links__link">
                                                Статьи
                                            </a>
                                        </li>
                                        <li class="footer-links__item"><a href="/kontakt" class="footer-links__link">Контакты</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="site-footer__bottom">
                    <div class="container">
                        <div class="site-footer__bottom-row">
                            <div class="site-footer__copyright">
                                <!-- copyright -->
                                Since 2024 ®Radiopriem
                                <!-- copyright / end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- site__footer / end -->
    </div>
    <!-- site / end --><!-- mobile-menu -->
    @await Component.InvokeAsync("MobilHeader")
    <!-- mobile-menu / end --><!-- quickview-modal -->
    <div id="quickview-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
   <!-- scripts -->
    <script src="~/rusGold/vendor/jquery/jquery.min.js"></script>
    <script src="~/rusGold/vendor/bootstrap/~/rusGold/js/bootstrap.bundle.min.js"></script>
    <script src="~/rusGold/vendor/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/rusGold/vendor/nouislider/nouislider.min.js"></script>
    <script src="~/rusGold/vendor/photoswipe/photoswipe.min.js"></script>
    <script src="~/rusGold/vendor/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="~/rusGold/vendor/select2/~/rusGold/js/select2.min.js"></script>
    <script src="~/rusGold/js/number.js"></script>
    <script src="~/rusGold/js/main.js"></script>
</body>
<!-- Mirrored from red-parts.html.themeforest.scompiler.ru/themes/red-ltr/index2.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Aug 2024 17:55:51 GMT -->
</html>
