@model RusGold.Entities.DTOs.SliderListDto
<div class="block-space block-space--layout--divider-xs"></div>
<div class="block block-slideshow">
    <div class="container">
        <div class="block-slideshow__carousel">
            <div class="owl-carousel">
                @foreach (var item in Model.Sliders)
                {
                    <a class="block-slideshow__item" href="#">
                        <span class="block-slideshow__item-image block-slideshow__item-image--desktop" style="background-image: url('/img/@item.ImageUrl');"></span>
                        <span class="block-slideshow__item-image block-slideshow__item-image--mobile" style="background-image: url('/img/@item.ImageUrl');"></span>
                        <span class="block-slideshow__item-offer">@item.Name</span>
                        <span class="block-slideshow__item-title" style="color:white;">
                            @item.CreatedByName
                           
                        </span>
                        <span class="block-slideshow__item-button">Контакт
                            +7 (812) 300-35-63
                        </span>
                    </a>
                }

            </div>
        </div>
    </div>
</div>