@model RusGold.Entities.DTOs.CategoryListDto
@* @foreach (var item in Model.Categories)
{
    <li class="departments__item"><a asp-action="Index" asp-controller="Product" asp-route-categoryId="@item.Id" class="departments__item-link">@item.Name</a></li>
} *@
<div class="mobile-menu">
    <div class="mobile-menu__backdrop"></div>
    <div class="mobile-menu__body">
        <button class="mobile-menu__close" type="button">
            <svg width="12" height="12">
                <path d="M10.8,10.8L10.8,10.8c-0.4,0.4-1,0.4-1.4,0L6,7.4l-3.4,3.4c-0.4,0.4-1,0.4-1.4,0l0,0c-0.4-0.4-0.4-1,0-1.4L4.6,6L1.2,2.6
	c-0.4-0.4-0.4-1,0-1.4l0,0c0.4-0.4,1-0.4,1.4,0L6,4.6l3.4-3.4c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4L7.4,6l3.4,3.4
	C11.2,9.8,11.2,10.4,10.8,10.8z" />
            </svg>
        </button>
        <div class="mobile-menu__panel">
            <div class="mobile-menu__panel-header"><div class="mobile-menu__panel-title">Меню</div></div>
            <div class="mobile-menu__panel-body">
                <div class="mobile-menu__divider"></div>
                <ul class="mobile-menu__links">
                    <li class="main-menu__item">
                        <a href="/" class="main-menu__link">
                            Домашняя страница
                        </a>
                    </li>
                    <li class="main-menu__item">
                        <a href="/Katalog" class="main-menu__link">
                            Каталог
                        </a>
                    </li>

                    <li class="main-menu__item">
                        <a href="/Bloq" class="main-menu__link">
                            Статьи
                        </a>
                    </li>
                    <li class="main-menu__item main-menu__item--submenu--menu main-menu__item--has-submenu">
                        <a href="#" class="main-menu__link">
                            Отправка
                            <svg width="7px" height="5px">
                                <path d="M0.280,0.282 C0.645,-0.084 1.238,-0.077 1.596,0.297 L3.504,2.310 L5.413,0.297 C5.770,-0.077 6.363,-0.084 6.728,0.282 C7.080,0.634 7.088,1.203 6.746,1.565 L3.504,5.007 L0.262,1.565 C-0.080,1.203 -0.072,0.634 0.280,0.282 Z" />
                            </svg>
                        </a>
                        <div class="main-menu__submenu">
                            <ul class="menu">
                                <li class="menu__item"><a href="/RussianPost" class="menu__link">Отправка Почтой России</a></li>
                                <li class="menu__item"><a href="/RadioPreparation" class="menu__link">Подготовка радиодеталей к сдаче</a></li>
                                <li class="menu__item"><a href="/SdekRadioShipping" class="menu__link">Отправка радиодеталей службой СДЭК</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="main-menu__item">
                        <a href="/Kontakt" class="main-menu__link">
                            Контакты
                        </a>
                    </li>
                </ul>
                <div class="mobile-menu__spring"></div>
                <div class="mobile-menu__divider"></div>
                <a class="mobile-menu__contacts" href="#">
                    <div class="mobile-menu__contacts-subtitle">звонок 24/7</div>
                    <div class="mobile-menu__contacts-title">+7 909 168 88 49/+7 950 118-73-74</div>
                </a>
            </div>
        </div>
    </div>
</div>