@model RusGold.Entities.DTOs.CategoryListDto

<div class="block block-categories">
    <div class="container">
        <div class="block-categories__header">
            <div class="block-categories__title">
                Каталог
                <div class="decor block-categories__title-decor decor--type--center">
                    <div class="decor__body">
                        <div class="decor__start"></div>
                        <div class="decor__end"></div>
                        <div class="decor__center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-categories__body">
        <div class="decor block-categories__body-decor decor--type--bottom">
            <div class="decor__body">
                <div class="decor__start"></div>
                <div class="decor__end"></div>
                <div class="decor__center"></div>
            </div>
        </div>
        <div class="container">
            <div class="block-split__row row no-gutters">
                <div class="block-split__item block-split__item-content col-auto">
                    <div class="block">
                        <div class="categories-list categories-list--layout--columns-6-full">
                            <ul class="categories-list__body">
                                @foreach (var item in Model.Categories)
                                {
                                    <li class="categories-list__item">
                                        <a asp-action="Index" asp-controller="Product" asp-route-categoryId="@item.Id">
                                            <div class="image image--type--category">
                                                <div class="image__body"><img class="image__tag" src="~/img/@item.Thumbnail" alt="@item.Name" /></div>
                                            </div>
                                            <div class="categories-list__item-name">@item.Name</div>
                                        </a>
                                    </li>
                                    <li class="categories-list__divider"></li>
                                }

                            </ul>
                        </div>
                    </div>
                    <div class="block-space block-space--layout--divider-nl"></div>
                </div>
            </div>
        </div>
    </div>
</div>