@using RusGold.Entities.Concrete
@model RusGold.Mvc.Areas.Admin.Models.CarAddViewModel

<form asp-action="Add" asp-controller="Car" method="post" enctype="multipart/form-data" id="form-team-add" class="container mt-5">
    <input type="hidden" name="IsValid" value="@ViewData.ModelState.IsValid.ToString()" />
    <div asp-validation-summary="All" class="alert alert-danger" id="validation-summary" aria-hidden="true" style="display: none;"></div>
    <input type="hidden" class="form-control" asp-for="UserId" value="1" />
    <div class="row">
        <!-- Left Column -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input class="form-control" asp-for="Name" />

                <span class="text-danger" asp-validation-for="Name"></span>
            </div>

            <div class="form-group">
                <label for="brendList" asp-for="BrendId"></label>
                <select asp-for="BrendId" asp-items="@(new SelectList(Model.CarBrends ?? new List<CarBrendModel>(), "Id", "Name"))"
                        id="brendList" class="form-control">
                    <option></option>
                </select>
                <span class="text-danger" asp-validation-for="BrendId"></span>
            </div>

            <div class="form-group">
                <label for="categoryList" asp-for="ModelId"></label>
                <select asp-for="ModelId"  id="modelList" class="form-control">
                    <option></option>
                </select>
                <span class="text-danger" asp-validation-for="ModelId"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input class="form-control" asp-for="Price" />
                <span class="text-danger" asp-validation-for="Price"></span>
            </div>

            <div class="form-group">
                <label asp-for="HorsePower" class="control-label"></label>
                <input class="form-control" asp-for="HorsePower" />
                <span class="text-danger" asp-validation-for="HorsePower"></span>
            </div>

            <div class="form-group">
                <label asp-for="EngineSize" class="control-label"></label>
                <input class="form-control" asp-for="EngineSize" />
                <span class="text-danger" asp-validation-for="EngineSize"></span>
            </div>

            <div class="form-group">
                <select class="form-control" asp-for="Body">
                    <option value="">Seçin</option>
                    <option value="Offroader / SUV, 3 qapı">Offroader / SUV, 3 qapı</option>
                    <option value="Offroader / SUV, 5 qapı">Offroader / SUV, 5 qapı</option>
                    <option value="Offroader / SUV, açıq">Offroader / SUV, açıq</option>
                    <option value="Hetçbek, 3 qap">Hetçbek, 3 qapı</option>
                    <option value="Hetçbek, 4 qapı">Hetçbek, 4 qapı</option>
                    <option value="Hetçbek, 5 qapı">Hetçbek, 5 qapı</option>
                    <option value="Sedan">Sedan</option>
                    <option value="Kupe">Kupe</option>
                </select>
            </div>
        </div>

        <!-- Right Column -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea class="form-control" asp-for="Content"></textarea>
                <span class="text-danger" asp-validation-for="Content"></span>
            </div>

            <div class="form-group">
                <label asp-for="TechnicalParameters" class="control-label"></label>
                <textarea class="form-control" asp-for="TechnicalParameters"></textarea>
                <span class="text-danger" asp-validation-for="TechnicalParameters"></span>
            </div>

            <div class="form-group">
                <label asp-for="SeoDescription" class="control-label"></label>
                <input class="form-control" asp-for="SeoDescription" />
                <span class="text-danger" asp-validation-for="SeoDescription"></span>
            </div>

            <div class="form-group">
                <label asp-for="SeoTags" class="control-label"></label>
                <input class="form-control" asp-for="SeoTags" />
                <span class="text-danger" asp-validation-for="SeoTags"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Picture Upload -->
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="PictureFile" class="control-label">Qapaq şəkli</label>
                <input type="file" class="form-control-file" asp-for="PictureFile" />
                <span class="text-danger" asp-validation-for="PictureFile"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="thumbnailUpload" asp-for="CarPhotos">Modelin ətraflı şəkilləri</label>
                <input type="file" accept="image/*" multiple id="thumbnailUpload" class="form-control-file" asp-for="CarPhotos" placeholder="Zəhmət Olmasa Şəkil seçin" />
                <span class="text-danger" asp-validation-for="CarPhotos"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Select Inputs -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="FuelType" class="control-label"></label>
                <select class="form-control" asp-for="FuelType">
                    <option value="">Seçin</option>
                    <option value="Benzin">Benzin</option>
                    <option value="Dizel">Dizel</option>
                    <option value="Elektrik">Elektrik</option>
                    <option value="Hibrid">Hibrid</option>
                    <option value="Pluq in hibrid">Pluq in hibrid</option>
                </select>
                <span class="text-danger" asp-validation-for="FuelType"></span>
            </div>

            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input class="form-control" asp-for="Year" />
                <span class="text-danger" asp-validation-for="Year"></span>
            </div>

            <div class="form-group">
                <label asp-for="Transmission" class="control-label"></label>
                <select class="form-control" asp-for="Transmission">
                    <option value="">Seçin</option>
                    <option value="Mexaniki">Mexaniki</option>
                    <option value="Avtomat">Avtomat</option>
                </select>
                <span class="text-danger" asp-validation-for="Transmission"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="DriveType" class="control-label"></label>
                <select class="form-control" asp-for="DriveType">
                    <option value="">Seçin</option>
                    <option value="Ön">Ön</option>
                    <option value="Arxa">Arxa</option>
                    <option value="4x4">4x4</option>
                </select>
                <span class="text-danger" asp-validation-for="DriveType"></span>
            </div>

            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <select class="form-control" asp-for="Color">
                    <option value="">Seçin</option>
                    <option value="Qara">Qara</option>
                    <option value="Ağ">Ağ</option>
                    <option value="Boz">Boz</option>
                    <option value="Gümüşü">Gümüşü</option>
                    <option value="Yaş asfalt">Yaş asfalt</option>
                    <option value="Qırmızı">Qırmızı</option>
                    <option value="Tünd Qırmızı">Tünd Qırmızı</option>
                    <option value="Narıncı">Narıncı</option>
                    <option value="Yaşıl">Yaşıl</option>
                    <option value="Göy">Göy</option>
                    <option value="Yaşıl">Yaşıl</option>
                    <option value="Mavi">Mavi</option>
                    <option value="Qızılı">Qızılı</option>
                    <option value="Sarı">Sarı</option>
                </select>
                <span class="text-danger" asp-validation-for="Color"></span>
            </div>
        </div>
    </div>

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" asp-for="IsActive" />
        <label asp-for="IsActive" class="form-check-label"></label>
        <span class="text-danger" asp-validation-for="IsActive"></span>
    </div>

    <div class="form-group text-center">
        <a href="/Admin/Car" class="btn btn-danger btn-block">
            <span class="fas fa-times"></span> Ləğv et
        </a>
        <button type="submit" class="btn btn-primary btn-block">
            <span class="fas fa-save"></span> Yadda saxla
        </button>
    </div>
</form>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
    $(document).ready(function () {
        $('#brendList').change(function () {
            var brandId = $(this).val();
            $('#modelList').empty().append('<option value="">Seçin</option>');

            if (brandId) {
                $.ajax({
                    url: '@Url.Action("GetModels", "Car", new { area = "Admin" })',
                    type: 'GET',
                    data: { brandId: brandId },
                    success: function (data) {
                        console.log(data);
                        if (data.$values && Array.isArray(data.$values)) {
                            $.each(data.$values, function (index, model) {
                                console.log(model); 
                                $('#modelList').append($('<option/>', {
                                    value: model.id,
                                    text: model.name
                                }));
                            });
                        } else {
                            console.error('$Xəta baş verdi');
                        }
                    },
                    error: function () {
                        console.error('$Xəta baş verdi');
                    }
                });
            }
        });
    });

</script>