<div class="site__body">
    <div class="block-map block">
        <div class="block-map__body">
            <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2427.763919280758!2d103.90856547668109!3d52.519611372061014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNTLCsDMxJzEwLjYiTiAxMDPCsDU0JzQwLjEiRQ!5e0!3m2!1str!2saz!4v1729013756728!5m2!1str!2saz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="block-header block-header--has-breadcrumb block-header--has-title">
        <div class="container">
            <div class="block-header__body">
                <nav class="breadcrumb block-header__breadcrumb" aria-label="breadcrumb">
                    <ol class="breadcrumb__list">
                        <li class="breadcrumb__spaceship-safe-area" role="presentation"></li>
                        <li class="breadcrumb__item breadcrumb__item--parent breadcrumb__item--first"><a href="/" class="breadcrumb__item-link">Домашняя страница</a></li>
                        <li class="breadcrumb__item breadcrumb__item--current breadcrumb__item--last" aria-current="page"><span class="breadcrumb__item-link">Контакты</span></li>
                        <li class="breadcrumb__title-safe-area" role="presentation" style="--block-header-title-width: 177.656px;"></li>
                    </ol>
                </nav>
                <h1 class="block-header__title">Связаться с нами</h1>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="container container--max--lg">
            <div class="card">
                <div class="card-body card-body--padding--2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4 pb-lg-0">
                            <div class="mr-1">
                                <h4 class="contact-us__header card-title">Наш адрес</h4>
                                <div class="contact-us__address">
                                    <p>
                                        Ангарск Иркутская область, Россия<br />
                                        Электронная почта: почта<br />
                                        Номер телефона: +8 964 000 10 65
                                    </p>
                                    <p>
                                        <strong>Часы работы</strong><br />
                                        Pаботаем ежедневно
                                        : c 10:00 до 20:00<br />
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="ml-1">
                                <h4 class="contact-us__header card-title">Заказать обратный звонок</h4>
                                <p>Мы Вам обязательно перезвоним.</p>
                                <form>
                                    <div class="form-group"><label for="form-subject">Ваш телефон (обязательно)</label> <input type="text" id="form-subject" class="form-control" placeholder="Номер" /></div>
                                    <button type="submit" class="btn btn-primary">ОТПРАВИТЬ</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--before-footer"></div>
</div>
