
<div class="block-space block-space--layout--spaceship-ledge-height"></div>
<div class="block faq">
    <div class="container container--max--xl">
        <div class="faq__header"><h1 class="faq__header-title">Подготавливаем радиодетали к сдаче в скупку правильно</h1></div>
        <div class="faq__section">
            <div class="faq__section-body">
                <div class="faq__question-answer">
                    <div class="typography">
                        <p>
                            Многие начав заниматься поиском и сдачей радиодеталей на переработку удивляются тому что не смотря на то что вроде бы и маркировка и год у детали тот, а вот цена кардинально отличается от той что указана в прайсах скупки. И дело не в том что вы попали на ушлого скупщика. А в том, что для успешного заработка на сдаче радиолома вам необходимо не только научиться разбираться в радиодеталях но и знать в какой их части находиться «ценность» за которую скупщик готов вам заплатить. По этому правильный демонтаж одно из главных условии хорошего заработка. Поверьте, разница в цене к примеру у транзистора с ногами и без них будет довольно большой.

                            Что бы вы избежали этих потерь хочу рассказать вам по основным радиодеталям и правилам их демонтажа. Для каждого типа есть свои правила влияющие на их стоимость.
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="faq__section">
            <h3 class="faq__section-title"> ПОРЯДОК ОТПРАВКИ ПОСЫЛКИ ПОСРЕДСТВОМ ПОЧТЫ РОССИИ</h3>
            <div class="faq__section-body">
                <div class="faq__question-answer">
                    <div class="typography">
                        <p>
                            <ul>
                                <li>
                                    Транзисторы и микросхемы с круглыми корпусами аккуратно выпаиваем с платы, наша цель сохранить максимальную длину «ног».
                                </li>
                                <li>
                                    Микросхемы в планарных корпусах. Выпаиваем, грея саму микросхему до плавления припоя.
                                </li>
                                <li>
                                    Вертолеты демонтируем аккуратно отпаивая по очереди каждую «лопасть». А вот болты серии КТ904 и похожие, можно просто откусить кусачками их выводы и демонтировать.
                                </li>
                                <li>
                                    Керамические прямоугольные микросхемы и индикаторы АЛС выпаиваем с другой стороны платы не нагревая само изделие.
                                </li>
                                <li>
                                    Ламели срезаем с плат с минимальным захватом платы.
                                </li>
                                <li>
                                    Разъемы выпаиваем с плат. Если к ним подходят провода, аккуратно отпаиваем их. Но не вырываем.
                                </li>
                                <li>
                                    Бескорпусные КМ отпаиваем.
                                </li>
                                <li>
                                    Конденсаторы типа КМ,К52-2 и аналогичные откусываем кусачками с платы. Выводы на данных конденсаторах откусываем по самый корпус, чем меньше тем лучше.
                                </li>
                                <li>
                                    Реле РЭС-7,8,9,10,15,48,РПА,РПВ,РПС — только выпаиваем!
                                </li>
                                <li>
                                    Резисторы типа СП5 можем просто вырвать плоскогубцами.
                                </li>
                                <li>
                                    Резисторы ППЗ, шаговые искатели и переключатели и т.д просто откусываем провода поближе к выводам и демонтируем.
                                </li>
                                <li>
                                    Переключатели ПР просто откусываем, не повреждая выводы.
                                </li>
                            </ul>

                        </p>
                        <p>
                            <em>
                                Ну и относящееся ко всем типам радиодеталей с позолотой-чем больше выводов осталось целыми, тем дороже.
                            </em>
                        </p>
                    </div>
                </div>

            </div>
        </div>


        @*<div class="faq__section">
                <h3 class="faq__section-title">Orders and Returns</h3>
                <div class="faq__section-body">
                    <div class="faq__question">
                        <h5 class="faq__question-title">How do I return or exchange an item?</h5>
                        <div class="faq__question-answer">
                            <div class="typography">
                                <p>
                                    Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq__question">
                        <h5 class="faq__question-title">How do I cancel an order?</h5>
                        <div class="faq__question-answer">
                            <div class="typography">
                                <p>
                                    Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="faq__footer">
            <div class="faq__footer-title">Заказать обратный звонок?</div>
            <a href="contact-us-v1.html" class="btn btn-primary">Мы Вам обязательно перезвоним.</a>
        </div>
    </div>
</div>
<div class="block-space block-space--layout--before-footer"></div>
