
    <div class="block-space block-space--layout--spaceship-ledge-height"></div>
    <div class="block faq">
        <div class="container container--max--xl">
            <div class="faq__header"><h1 class="faq__header-title">Как отправить радиодетали почтой?</h1></div>
            <div class="faq__section">
                <h3 class="faq__section-title">Как отправить радиодетали почтой?</h3>
                <div class="faq__section-body">
                    <div class="faq__question-answer">
                        <div class="typography">
                            <p>
                                Компания «Radio Priem» длительное время надёжно и безопасно покупает радиодетали Почтой России и посредством услуг транспортных компаний.

                                Перед отправкой детали можно рассортировать, подсчитать и разложить по пакетам так, как показано на фотографии ниже. Также можно составить перечень позиций с количеством радиодеталей и вложить в посылку.

                                В том случае, когда Вы не разбираетесь в радиодеталях или нет времени сортировать и подсчитывать, отправляйте всё как есть. Мы сами посчитаем и по Вашему желанию отправим Вам на электронную почту подробный перечень позиций с ценами. Только детали старайтесь упаковать так, чтобы они не рассыпались в коробке при транспортировке.

                                Оплата за посылки в течение двух рабочих дней после получения 100% гарантирована. Если Вы опасаетесь отсылать все сразу радиодетали, то можете послать пробную партию и посмотреть: будет ли произведена оплата за нее в течение двух рабочих дней или придется ждать месяц-два, как поступают некоторые конторы. А дальше выбирать Вам: пересылать следующую посылку в нашу компанию или искать каких-нибудь перекупщиков, которые купят у Вас радиодетали по заниженной, в разы, цене или наобещав Вам с три короба, будете ждать до трёх месяцев оплаты за детали.
                            </p>
                        </div>
                    </div>
                  
                </div>
            </div>
            
            <div class="faq__section">
                <h3 class="faq__section-title"> ПОРЯДОК ОТПРАВКИ ПОСЫЛКИ ПОСРЕДСТВОМ ПОЧТЫ РОССИИ</h3>
                <div class="faq__section-body">
                    <div class="faq__question-answer">
                        <div class="typography">
                            <p>
                                Идёте на почту, берете там необходимую по размерам упаковку. Приходите домой, аккуратно, так чтобы ничего сильно не гремело, упаковываете радиодетали, делаете запрос на адрес для отправки посылки, свяжитесь с нами по телефону (WhatsApp) либо с помощью форм обратной связи/

                                Заполните адрес, на который нужно отправить детали. В посылку вкладываете номер пластиковой карты или счёта, на который нужно перечислить Вам деньги и номер телефона для связи с Вами. Возвращаетесь обратно в почтовое отделение и отправляете посылку обычным классом. Вам дают квитанцию об отправке и в ней находится 14-значный номер (почтовый идентификатор) для отслеживания перемещения почтового отправления на САЙТЕ ПОЧТЫ РОССИИ.
                           
                                Все посылки по России идут без задержек! Время в пути составляет 5-10 дней, в зависимости от региона. Бывают задержки, но они крайне редкие.
                                Цена отправки составляет порядка 170-350 рублей. Эти деньги возвращаются Вам обратно вместе со стоимостью посылки на Вашу карту или расчётный счёт.

                                ГОТОВО, ПОСЫЛКА ОТПРАВЛЕНА! ЖДЁТЕ, ПОКА ОНА ДОЙДЕТ ДО МЕСТА НАЗНАЧЕНИЯ, ПОЛУЧАЕТЕ ДЕНЬГИ ЗА ПОСЫЛКУ! ВСЕ ОТЛИЧНО!!! БЕЗ ОБМАНА!!! МОЖНО ОТПРАВЛЯТЬ СЛЕДУЮЩУЮ!
                            </p>
                            <p>
                                <em>
                                    Обращаем ваше внимание на то, что вся информация носит ознакомительный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ.
                                </em>
                            </p>
                        </div>
                    </div>
                  
                </div>
            </div>
            

            @*<div class="faq__section">
                <h3 class="faq__section-title">Orders and Returns</h3>
                <div class="faq__section-body">
                    <div class="faq__question">
                        <h5 class="faq__question-title">How do I return or exchange an item?</h5>
                        <div class="faq__question-answer">
                            <div class="typography">
                                <p>
                                    Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq__question">
                        <h5 class="faq__question-title">How do I cancel an order?</h5>
                        <div class="faq__question-answer">
                            <div class="typography">
                                <p>
                                    Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="faq__footer">
                <div class="faq__footer-title">Заказать обратный звонок?</div>
                <a href="contact-us-v1.html" class="btn btn-primary">Мы Вам обязательно перезвоним.</a>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--before-footer"></div>
