
    <div class="block-space block-space--layout--spaceship-ledge-height"></div>
    <div class="block faq">
        <div class="container container--max--xl">
            <div class="faq__header"><h1 class="faq__header-title">
                «Посылочка»
                Отправьте всё, что поместится в коробку!
            </h1></div>
            <div class="faq__section">
                <h3 class="faq__section-title">Выгодная доставка для физических лиц: без замеров и взвешиваний, по фиксированной цене, от пункта отправки до пункта выдачи или постамата</h3>
                <div class="faq__section-body">
                    <div class="faq__question-answer">
                        <div class="typography">
                            <div class="row text-center" style="word-wrap: break-word;">
                                <div class="col-lg-4">
                                    <h3 style="font-size: 20px; line-height: 1.5em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Фиксированная цена</h3>
                                    <p style="font-size: 16px; line-height: 1.5em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Стоимость зависит только от направления и размера коробки</p>
                                </div>
                                <div class="col-lg-4">
                                    <h3 style="font-size: 20px; line-height: 1.5em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Упаковка включена</h3>
                                    <p style="font-size: 16px; line-height: 1.5em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Коробка уже входит в стоимость тарифа</p>
                                </div>
                                <div class="col-lg-4">
                                    <h3 style="font-size: 20px; line-height: 1.5em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Без замеров и взвешиваний</h3>
                                    <p style="font-size: 16px; line-height: 1.5em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Выберите одну из трех коробок и отправьте все, что в нее поместится. Без доплат за вес</p>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
            
            <div class="faq__section">
                <h3 class="faq__section-title"> Как отправить «Посылочку»</h3>
                <div class="faq__section-body d-flex justify-content-center align-items-center">
                    <div class="faq__question-answer">
                        <div class="typography">
                            <ol>
                                <li>Найдите пункт СДЭК</li>
                                <li>Выберите подходящую упаковку</li>
                                <li>Рассчитайте стоимость</li>
                                <li>Отправьте «Посылочку»</li>
                                <li>Отслеживайте «Посылочку»</li>
                            </ol>

                        </div>
                    </div>
                  
                </div>
            </div>
            

            @*<div class="faq__section">
                <h3 class="faq__section-title">Orders and Returns</h3>
                <div class="faq__section-body">
                    <div class="faq__question">
                        <h5 class="faq__question-title">How do I return or exchange an item?</h5>
                        <div class="faq__question-answer">
                            <div class="typography">
                                <p>
                                    Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq__question">
                        <h5 class="faq__question-title">How do I cancel an order?</h5>
                        <div class="faq__question-answer">
                            <div class="typography">
                                <p>
                                    Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="faq__footer">
                <div class="faq__footer-title">Заказать обратный звонок?</div>
                <a href="contact-us-v1.html" class="btn btn-primary">Мы Вам обязательно перезвоним.</a>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--before-footer"></div>
